* {
	margin: 0;
	padding: 0;
	transition: 0.2s ease;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
  background-color: rgba(255, 149, 0, 0.441);
}

#board{
	outline: 8px solid rgb(249, 153, 64);
}

.box {
	display: inline-flex;
	width: 8vh;
	height: 8vh;
	border: 1px solid rgba(221, 0, 0, 0);
	justify-content: center;
	align-items: center;
	cursor: pointer;
}


#blackkill p,
#whitekill p {
	font-size: 3em;
	letter-spacing: -40px;
	text-shadow: -1px -1px 0px black;
}

#blackkill,
#whitekill {
	width: 16vh;
	height: 65vh;
	color: rgb(255, 255, 255);
}

#blackkill {
	color: rgb(62, 60, 60);
  margin-top: 870px;
  margin-right: 10px;
}

.row {
	margin-bottom: -4px;
}

.row:nth-child(odd) .box:nth-child(odd),
.row:nth-child(even) .box:nth-child(even) {
	background-color: rgba(140, 84, 11, 0.893);
	filter: brightness(1.3);
}

.row:nth-child(odd) .box:nth-child(even),
.row:nth-child(even) .box:nth-child(odd) {
	background-color: #632906;
	filter: brightness(1.3);
}

p.p {
	font-size: 9.5vh;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 1px black;
}

.black p {
	color: rgb(44, 43, 43);
}

#winner {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
}

#winner p {
	font-size: 3em;
	color: whitesmoke;
}
